name: Build Project

on:
  push:
    branches: [ "develop" ]
  pull_request:
    branches: [ "develop" ]
  workflow_dispatch:


jobs:
  build-linux:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository and submodules
      uses: actions/checkout@v4
      with:
        submodules: 'recursive'

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y build-essential qttools5-dev cmake zlib1g-dev openjdk-11-jdk libgl1-mesa-dev

    - name: Configure CMake
      run: cmake -B build -S . -DCMAKE_BUILD_TYPE=Release

    - name: Build with Make
      run: make -C build -j$(nproc)

  build-windows:
    runs-on: windows-latest

    steps:
    - name: Checkout repository and submodules
      uses: actions/checkout@v4
      with:
        submodules: 'recursive'

    - name: Install Qt
      uses: jurplel/install-qt-action@v3
      with:
        version: '5.15.2'
        arch: 'win32_mingw81'

    - name: Install other dependencies
      run: |
        choco install msys2 --params "'/InstallDir:C:\msys64'" -y
        C:\msys64\usr\bin\bash -lc 'pacman -Syu --noconfirm && pacman -S --noconfirm --needed mingw-w64-i686-zlib'
        echo "C:\msys64\mingw32\bin" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append
      shell: pwsh

    - name: Configure CMake
      run: |
        cmake -G "MinGW Makefiles" -B build -S . -DCMAKE_BUILD_TYPE=Release
      shell: pwsh

    - name: Build with mingw32-make
      run: |
        mingw32-make -C build -j$((Get-CimInstance -ClassName Win32_Processor).NumberOfLogicalProcessors)
      shell: pwsh

    - name: Package application
      run: |
        $distDir = "dist"
        mkdir $distDir
        Copy-Item -Path "build/launcher/MultiMC.exe" -Destination $distDir
        Copy-Item -Path "$env:QT_ROOT_DIR/bin/Qt5Core.dll", "$env:QT_ROOT_DIR/bin/Qt5Gui.dll", "$env:QT_ROOT_DIR/bin/Qt5Network.dll", "$env:QT_ROOT_DIR/bin/Qt5Svg.dll", "$env:QT_ROOT_DIR/bin/Qt5Widgets.dll", "$env:QT_ROOT_DIR/bin/Qt5Xml.dll" -Destination $distDir
        Copy-Item -Path "$env:QT_ROOT_DIR/bin/libgcc_s_dw2-1.dll", "$env:QT_ROOT_DIR/bin/libstdc++-6.dll", "$env:QT_ROOT_DIR/bin/libwinpthread-1.dll" -Destination $distDir
        Copy-Item -Path "C:/Program Files/OpenSSL/bin/libeay32.dll", "C:/Program Files/OpenSSL/bin/ssleay32.dll" -Destination $distDir -ErrorAction SilentlyContinue
        Copy-Item -Path "C:/ProgramData/chocolatey/lib/zlib/tools/zlib1.dll" -Destination $distDir -ErrorAction SilentlyContinue
        # Copy Qt platform plugin
        mkdir "$distDir/platforms"
        Copy-Item -Path "$env:QT_ROOT_DIR/plugins/platforms/qwindows.dll" -Destination "$distDir/platforms"
      shell: pwsh

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: MultiMC-Windows
        path: dist
